.design-container-byNewRecipes{
    width: 100%;
    margin-top: 50px;
}
.byNewRecipes {
    display: flex;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    a {
        color: #76110a;
    }
}
img.MuiAvatar-img {
    /* color: azure; */
    background-color: antiquewhite;
}
.byNewRecipes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.byNewRecipes-title{
    width: 100%;
    /* display: block; */
    font-size: 27px !important;
    text-align: right;
    color: #76110a;
    font-family: system-ui;
}
.to-all-recipes {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;

}

