// .css-1yasc8m-MuiContainer-root {
//     width: 77% !important;

// }
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
    font-size: 20px;
}
.css-1ggoop8 {
    border-radius: 41px !important;
    /* padding: 5px 10px; */
    font-size: 16px !important;
    background-color: #e7d7db73 !important;
}